body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #38bdf8;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px;
    background: #38bdf8;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
}

.decision {
    font-size: 24px;
    color: #22c55e;
}

.card ul {
    text-align: left;
}